<div class="container" fxLayout="column">
  <form (ngSubmit)="onSub()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>your url</mat-label>
      <input type="url" name="url" matInput required ngModel>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="warn"
      [disabled]="f.invalid || isFetching"
    >
      SHORT
    </button>
    </form>
  <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
  <div *ngIf="short" class="urlShort">
    <h3>Your short link:</h3>
  <a class="link" (click)="getUrl(short.url)">{{ short.shorten }}</a>
  </div>

</div>
