<mat-drawer-container class="container" fxLayoutAlign="center">
  <mat-toolbar>
    <mat-card-title>shorten your link</mat-card-title>
  </mat-toolbar>
  <app-home></app-home>
</mat-drawer-container>

